<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a> -->
    <h1>Mulheres Tech Day</h1>
    <h2>5 de março de 2016</h2>
    <h3>Aguarde, novidades em breve!</h3>
  </div>
</div>
<footer>
	<h2>Organizadores</h2>
	<a href="http://www.marialab.com.br">MariaLab Hackerspace</a><br>
	<a href="http://www.meetup.com/PyLadiesSP/">Pyladies</a><br>
	<a href="http://www.programaria.org/">Programaria</a><br>
	<a href="http://www.womenupgames.com/">Women Up Games</a><br>
	<a href="https://www.facebook.com/academialovelace/">Academia Lovelace</a><br>
	<a href="http://www.sagapolen.com.br/">Saga Pólen</a><br>
	<a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/politicas_para_as_mulheres/">Secretaria Municipal de Políticas Para as Mulheres</a> <br>
	Prefeitura Municipal de São Paulo<br>
	<br>
	<img src="/images/premio-mulheres-tech-samap.png" alt="">
	<br>
	<h2>Apoio</h2>
	<a href="http://www.springpoint.com.br/"><img src="/images/springpoint.jpg" alt="Springpoint" style="width:200px;"></a>


</footer>
</body>
</html>
